* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// -----------------------------------------------------


@mixin balla($partenza, $distanza) {
    @keyframes bounce { 
        0%, 20%, 50%, 80%, 100% { transform: translateY($partenza);} 
    
        21% {transform: translateY($distanza * 5);}
        25% {transform: translateX($distanza * 5);} 
        30% {transform: translateY($distanza * -5);}
        35% {transform: translateX($distanza * -5);} 
    



            40% {transform: translateY($distanza);} 
            45% {background-color: aqua;} 

            70% {transform: rotate(10deg);}
            71% {transform: rotate(20deg);}
            72% {transform: rotate(30deg);}
            73% {transform: rotate(40deg);}
            74% {transform: rotate(50deg);}
            75% {transform: rotate(60deg);}
            76% {transform: rotate(70deg);}
            77% {transform: rotate(80deg);}
            78% {transform: rotate(90deg);}
            79% {transform: rotate(100deg);}

    
        
            60% {transform: translateY($distanza / 2);}

            }
}



              


// --------------------------------------------------
@mixin sizes($size) {
    width: $size;
    height: $size;
}








    body {
       height: 100vh;
       width: 100vw;
       display: flex;
       justify-content: center;
       align-items: center;

            div {
                @include sizes(200px);
                background-color: red;
                border: 3px solid black;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
                text-align: center;

            }

            .bounce { 
                animation-duration: 1s;
                animation-name: bounce;
                @include balla(0, -30px );
                animation-iteration-count: infinite;
            }


           
    }

