* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// -----------------------------------------------------


@mixin balla($partenza, $distanza) {
    @keyframes bounce { 
        0%, 20%, 50%, 80%, 100% { transform: translateY($partenza);} 
    
            40% {transform: translateY($distanza);} 
    
            60% {transform: translateY($distanza / 2);}
            }
}



              


// --------------------------------------------------
@mixin sizes($size) {
    width: $size;
    height: $size;
}








    body {
       height: 100vh;
       width: 100vw;
       display: flex;
       justify-content: center;
       align-items: center;

            div {
                @include sizes(200px);
                background-color: red;
                border: 3px solid black;
                border-radius: 10px;

            }

            .bounce { 
                animation-duration: 1s; 
                animation-name: bounce;
                @include balla(0, -30px );
                animation-iteration-count: infinite;
            }


           
    }

